CelsiusTofahrenheit.class
DivideChocolates.class
DoubleOperation.class
fahrenheitToCelsius.class
IntOperation.class
NumberOfRounds.class
QuotientReminder.class
SimpleInterest.class
SwapTwoNumbers.class
TotalIncome.class
TravelComputation.class
WeightConverter.class