BMICalculator.class
CalculatePower.class
FactorsPrinting.class
FizzBuzz.class
FizzBuzzWhile.class
GreatestFactor.class
LeapYear.class
LeapYearSingleLine.class
MultipleOfNumber.class
PrimeChecker.class
YoungestAndTallest.class
MarksOfStudent.class